@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

.bs-icon {
  --bs-icon-size: 0.75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), 0.2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, 0.5);
}

.bs-icon.bs-icon-rounded {
  border-radius: 0.5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.fit-cover {
  object-fit: cover;
}

.dot {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}

.line {
  height: 100px;
  background-color: black;
  width: 2px;
  margin-top: 5px;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animation-box {
  animation: website-start-animation 3s ease 0s 1 normal forwards;
}

.ball-animation:hover {
  animation: ball-up-down 0.3s ease-in-out 0s 1;
}

@keyframes ball-up-down {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sidebar a.active {
  text-decoration: underline;
}

.sidebar a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}

.social-link {
  margin-left: 10px;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
